@font-face {
    font-family: "iran yekan";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-thin.ttf") format("truetype");
}

@font-face {
    font-family: "iran yekan";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-light.ttf") format("truetype");
}

@font-face {
    font-family: "iran yekan";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-regular.ttf") format("truetype");
}

@font-face {
    font-family: "iran yekan";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-medium.ttf") format("truetype");
}

@font-face {
    font-family: "iran yekan";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-bold.ttf") format("truetype");
}

@font-face {
    font-family: "iran yekan";
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-extra-bold.ttf") format("truetype");
}

@font-face {
    font-family: "iran yekan";
    font-weight: 900;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-black.ttf") format("truetype");
}

@font-face {
    font-family: "iran yekan";
    font-weight: 950;
    font-style: normal;
    src: url("/fonts/iran-yekan/iran-yekan-extra-black.ttf") format("truetype");
}

:root {
    --font-iran-yekan: "iran yekan";
}